.restaurant {
  padding-top: 75px;
  margin-right: 12%;
  margin-left: 12%;

  &__title {
    display: flex;
    align-items: center;
    margin-bottom: 75px;
  }

  &__name,
  &__rating,
  &__tipe {
    margin-right: 25px;
  }

  &__name {
    font-size: 36px;
  }

  &__rating {
    font-size: 18px;
    color: #ffc107;
  }

  &__type {
    font-size: 18px;
    color: #8c8c8c;
  }

  .restCards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-bottom: 75px;

    .restCard {
      width: 385px;
      height: 545px;
      overflow: hidden;
      border-radius: 10px;
      margin-bottom: 75px;
      text-decoration: none;
      box-shadow: 2px 5px 12px rgba(0, 0, 0, 0.1);
      color: #000;
      background: #fff;

      &__img {
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
          height: 270px;
        }
      }

      &__text {
        height: 270px;
        display: flex;
        flex-flow: column;
        justify-content: space-between;
        padding: 20px;
        &-top {
          margin-bottom: 25px;
          h1 {
            font-style: 24px;
            font-weight: 400;
            margin-bottom: 10px;
          }

          p {
            color: #8c8c8c;
          }
        }

        &-bottom {
          display: flex;
          align-items: center;
          margin-bottom: 10px;

          h1 {
            font-size: 22px;
            font-weight: 500;
            color: $blue;
            margin-left: 30px;
          }
        }
      }

      &__button {
        padding: 7px 35px;

        span {
          font-weight: 400;
        }
      }
    }
  }
}
